html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }
  *:before, *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit; }

img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

a {
  text-decoration: none; }

@-webkit-keyframes pulsar {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); } }

@keyframes pulsar {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); } }

.cake-recipe {
  position: relative;
  will-change: transform;
  -webkit-animation: pulsar 6s cubic-bezier(0.74, -0.01, 0.21, 1.02) infinite;
          animation: pulsar 6s cubic-bezier(0.74, -0.01, 0.21, 1.02) infinite; }

.content {
  background-color: #faebd7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh; }
