@font-face {
     font-family: NationalRegular;
     src: local('National.otf'), url('../fonts/National.otf');
} 

@font-face {
     font-family: NationalBoldItalic;
     src: local('National-BlackItalic.otf'), url('../fonts/National-BlackItalic.otf');
} 

@font-face {
     font-family: NationalLight;
     src: local('National-Light.otf'), url('../fonts/National-Light.otf');
} 