@import "_reset";
@import "_fonts";
@import "_mediaquerys";
@import "_animations";
@import "components/_all";

.content {
	background-color: #faebd7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

